{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>{{ event.name }}</h1>

{% if is_past %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="well text-center">
                This is a past event.
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 col-xs-12 well text-center">
            <div class="col-sm-4 col-xs-12">
                <div class="col-sm-12 col-xs-6">
                    <b>Hosted By</b>
                    <p id="organizer">{{ event.organizer }}</p>
                </div>

                <div class="col-sm-12 col-xs-6">
                    <b>Date &amp; Time</b>
                    <p><span id="event_date">{{ event.event_date }}</span> at <span id="event_time">{{ event.event_time }}</span></p>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <b>Location</b>
                    <p id="address" data-geolocation="{{ event.geolocation }}">{{ event.address }}<span id="distance"></span></p>
                </div>
            </div>

            <div class="col-sm-8 col-xs-12 map_container">
                <iframe class="map"
                    width="600"
                    height="300"
                    frameborder="0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDy_u0JlGjAPtuCX_BLf_AbkMG51Q833Ls
                    &center={{ event.geolocation }}&q={{ event.address }}" allowfullscreen>
                </iframe>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="comment" class="col-sm-12 col-xs-12 well text-center">
            {{ event.comment }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="col-sm-12 col-xs-12 well text-center">
            <div class="col-sm-6 col-xs-6">
                <div class="text-left" style="display: inline-block; margin-left: -1em">
                    <ul style="margin-bottom: -5px;">
                        {% for response in event.response_set.all %}
                        <li style="margin-bottom: 5px;"><b>{{ response.response_text }}</b> -- {{ response.votes }} vote{{ response.votes|pluralize }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            {% if user.is_authenticated %}
                <div class="col-sm-6 col-xs-6">
                    <form action="{% url 'meetup_finder:vote' event.pk %}" method="post">
                        {% csrf_token %}
                            <div class="text-left" style="display: inline-block; margin-left: -1em">
                        {% for response in event.response_set.all %}
                            <div class="radio-toolbar">
                                <input type="radio" name="response" id="response{{ forloop.counter }}" value="{{ response.id }}">
                                <label for="response{{ forloop.counter }}">{{ response.response_text }}</label><br>
                            </div>
                        {% endfor %}
                            </div><br>
                  
                            <input type="submit" value="Respond">
                    </form>
                </div>
            {% else %}
                <div class="col-sm-6 col-xs-6">
                    Log in to respond to the event, or delete the event if you are the event creator.
                </div>
            {% endif %}
        </div>
    </div>
</div>
<b>Leave a Comment</b>
<div class = "row">
    <div class = "col-sm-12 col-xs-12">
        <div class = "well text-center">
            <form action="{% url 'meetup_finder:comment' event.pk %}" method = "POST">
            {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
                <label for ="comment_field">Comment:</label>
                <input type="text" id="comment_field" name="comment_field">
                <input type="submit" value = "Submit">
            </form>
        </div>
    </div>
</div>
<b>Comments</b>
<div class = "row">
    <div class = "col-sm-12 col-xs-12">
        <div class = "well text-center">
            {% if event.eventcomment_set.all %}
            {% for comment in event.eventcomment_set.all %}
               <p> {{comment.comment_field}}</p>
               <p><small>Written by <b>{{comment.name}}</b></small></p>
               <hr>
            {% endfor %}
            {% else %}
            <p>
                No comments
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% if can_delete %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="well text-center">
                <form action="{% url 'meetup_finder:event_delete' event.pk %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-default" href="{% url 'meetup_finder:update' event.pk %}">Edit Event</a>
                    <input class="btn btn-default" type="submit" value="Delete Event">
                </form>
            </div>
        </div>
    </div>
{% endif %}

<script>
sortByDistance();

function sortByDistance() {
	navigator.geolocation.getCurrentPosition(sortByDistanceCallback);
}

function sortByDistanceCallback(pos) {
	var myLat = pos.coords.latitude; // parse user coords
	var myLong = pos.coords.longitude;

	var coordinates = "{{ event.geolocation }}".split(',');
	var eventLat = coordinates[0]; // parse event coords
	var eventLong = coordinates[1];
	var distance = getDistanceBetween(myLat, myLong, eventLat, eventLong);
	document.getElementById("distance").innerHTML = " (" + distance.toFixed(1) + " mi away)";
}


// https://stackoverflow.com/questions/18883601/function-to-calculate-distance-between-two-coordinates
function getDistanceBetween(lat1, lon1, lat2, lon2) {
	var R = 3958.761; // Radius of the earth in miles
	var dLat = deg2rad(lat2-lat1);  // deg2rad below
	var dLon = deg2rad(lon2-lon1); 
	var a = 
		Math.sin(dLat/2) * Math.sin(dLat/2) +
		Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
		Math.sin(dLon/2) * Math.sin(dLon/2); 
	var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
	var d = R * c; // Distance in km
	return d;
}

function deg2rad(deg) {
	return deg * (Math.PI/180)
}
</script>
{% endblock %}

