{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>{{ event.name }}</h1>

{% if is_past %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="well text-center">
                This is a past event.
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 col-xs-12 well text-center">
            <div class="col-sm-4 col-xs-12">
                <div class="col-sm-12 col-xs-6">
                    <b>Hosted By</b>
                    <p id="organizer">{{ event.organizer }}</p>
                </div>

                <div class="col-sm-12 col-xs-6">
                    <b>Date &amp; Time</b>
                    <p><span id="event_date">{{ event.event_date }}</span> at <span id="event_time">{{ event.event_time }}</span></p>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <b>Location</b>
                    <p id="address" data-geolocation="{{ event.geolocation }}">{{ event.address }}</p>
                </div>
                {% if can_delete %}
                <a href="{% url 'meetup_finder:update' event.pk%}"> Edit </a>
                {% endif %}
            </div>

            <div class="col-sm-8 col-xs-12 map_container">
                <iframe class="map"
                    width="600"
                    height="300"
                    frameborder="0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDy_u0JlGjAPtuCX_BLf_AbkMG51Q833Ls
                    &center={{ event.geolocation }}&q={{ event.address }}" allowfullscreen>
                </iframe>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="comment" class="col-sm-12 col-xs-12 well text-center">
            {{ event.comment }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="col-sm-12 col-xs-12 well text-center">
            <div class="col-sm-6 col-xs-6">
                <div class="text-left" style="display: inline-block; margin-left: -1em">
                    <ul style="margin-bottom: -5px;">
                        {% for response in event.response_set.all %}
                        <li style="margin-bottom: 5px;"><b>{{ response.response_text }}</b> -- {{ response.votes }} vote{{ response.votes|pluralize }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            {% if user.is_authenticated %}
                <div class="col-sm-6 col-xs-6">
                    <form action="{% url 'meetup_finder:vote' event.pk %}" method="post">
                        {% csrf_token %}
                            <div class="text-left" style="display: inline-block; margin-left: -1em">
                        {% for response in event.response_set.all %}
                            <div class="radio-toolbar">
                                <input type="radio" name="response" id="response{{ forloop.counter }}" value="{{ response.id }}">
                                <label for="response{{ forloop.counter }}">{{ response.response_text }}</label><br>
                            </div>
                        {% endfor %}
                            </div><br>
                            <input type="submit" value="Respond">
                    </form>
                </div>
            {% else %}
                <div class="col-sm-6 col-xs-6">
                    Log in to respond to the event, or delete the event if you are the event creator.
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% if can_delete %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="well text-center">
                <form action="{% url 'meetup_finder:event_delete' event.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete Event">
                </form>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

