{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div id="title" class="col-xs-12">
	<h1>Events</h1>
</div>
<div id="search-bar" class="col-xs-12">
	<input type="text" class="form-control" id="filter" name="Filter" placeholder="Filter events..." oninput="filterEvents()" value="{{ user.profile.default_filter }}">
	<button type="button" id="clear-filter" class="btn btn-info" onclick="clearFilters()">Clear filters</button>
	<button type="button" id="sort-button" class="btn btn-info" onclick="sortByDistance()">Sort by distance</button>
</div>
{% if event_list %}
<div id="event-list">
{% for event in event_list %}
	<div data-pk="{{ event.pk }}" class="event">
		<div class="col-md-3 col-sm-4 col-xs-12">
			<div class="well">
				<ul class="event-title list-unstyled">
					<li class="event-name"><a href="{% url 'meetup_finder:detail' event.pk %}">{{ event.name }}</a></li>
					<li class="event-organizer">{{ event.organizer }}</li>
					<li class="event-distance" id="distance-{{ event.pk }}"></li>
				</ul>
			</div>
		</div>
		<div class="col-md-9 col-sm-8 col-xs-12">
			<div class="well">
				<ul class="list-unstyled">
					<li class="event-date">{{ event.event_date }} at {{ event.event_time }}</li>
					<li class="event-address">{{ event.address }}</li>
					<li class="event-details">{{ event.comment }}</li>
				</ul>
				<div class="map_container">
					<iframe class="map"
						width="600"
						height="300"
						frameborder="0"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDy_u0JlGjAPtuCX_BLf_AbkMG51Q833Ls
						&center={{ event.geolocation }}&q={{ event.address }}" allowfullscreen>
					</iframe>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
<script src="{% static 'meetup_finder/geolocation.js' %}"></script>
<script>
var coordinates = {{% for event in event_list %}
	{{ event.pk }}: "{{ event.geolocation }}",{% endfor %}
}
filterEvents();
</script>
{% else %}
    <p>No events are available.</p>
{% endif %}
{% endblock %}
