  
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Events</h1>

{% if event_list %}
{% for event in event_list %}
<div class="row">
    <div class="col-sm-3">
        <div class="well">
            <p><a href="{% url 'meetup_finder:detail' event.pk %}">{{ event.name }}</a></p>
        </div>
    </div>
    <div class="col-sm-9">
    <div class="well">
        <ul>
            <li>Organizer: {{ event.organizer }}</li>
            <li>Details: {{ event.comment }}</li>
            <li>Address: {{ event.address }}</li>
            <li>Date: {{ event.event_date }}</li>
			 <iframe
  width="600"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDy_u0JlGjAPtuCX_BLf_AbkMG51Q833Ls
    &q={{ event.address }}" allowfullscreen>
</iframe>


        </ul>

   </div>
 </div>
</div>
{% endfor %}
{% else %}
    <p>No events are available.</p>
{% endif %}<br><br><br><br><br><br><br><br>

{% endblock %}<br><br><br><br><br><br><br><br>
