{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="title" class="col-xs-12">
	<h1>Profile</h1>
</div>
<!-- <div class="column">
    <div class="well">
		<div class="content-section">
		  <div class="media">
			<div class="media-body">
			  <p class="text-secondary"></p>
			  <ul>
				<li><b>Name</b>: {{ user.profile.get_name }}</li>
				<li><b>Email</b>: {{ user.email }}</li>
				{% if user.profile.bio %}
				<li><b>Bio</b>: {{ user.profile.bio }}</li>
				{% endif %}
				{% if user.profile.birthday %}
				<li><b>Birthday</b>: {{ user.profile.birthday }}</li>
				{% endif %}
			  </ul>
			</div>
		  </div>
		  <p><a href="#demo" class="btn btn-info" data-toggle="collapse">Update</a></p>
		  
		  <div id="demo" class="collapse{% if show %} in{% endif %}">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Profile Info</legend>
					{{ p_form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Submit</button>
				</div>
			</form>
		  </div>
		</div>
    </div>
</div> -->
<div class="container col-xs-12">
	<div class="row">
		<div class="col-md-5">
			<h2>Your Information</h2>
			<div class="well card-body text-center">
				<div>
					<img src="https://static.thenounproject.com/png/558670-200.png" class="img-lg rounded-circle mb-1" alt="profile image">
					<h2 class="h4">{{ user.profile.get_name }}</h2>
				</div>
				<p class="mt-2 card-text"> {{ user.profile.bio }}</p>
				<p><a href="#demo" class="btn btn-info" data-toggle="collapse">Update</a></p>
		  
				<div id="demo" class="collapse{% if show %} in{% endif %}">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">Profile Info</legend>
							{{ p_form|crispy }}
						</fieldset>
						<div class="form-group">
							<button class="btn btn-info" type="submit">Submit</button>
						</div>
					</form>
				</div>
				<div class="border-top pt-3">
					<div id="profile-data" class="row">
						<div class="column">
							<b>4354</b><br>
							<p>Events Made</p>
						</div>
						<div class="column">
							<b>2</b><br>
							<p>Events Saved</p>
						</div>
						{% if user.profile.birthday %}
						<div class="column">
							<b>{{ user.profile.birthday }}</b><br>
							<p>Birthday</p>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<h2>Your Events</h2>
			<div class="well card-body text-center">
				
			</div>
		</div>
	</div>
</div>
{% endblock content %}