  
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Events</h1>


{% if comment_list %}
    <ul>
    {% for comment in comment_list %}
        <li><b>Event Name: {{ comment.name }}</b>
	    <ul>
	        <li>Details: {{ comment.comment }}</li>
 
            <li>Address: {{ comment.address }}</li>

            <li>Date: {{ comment.event_date }}</li>
        </ul>
	</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events are available.</p>
{% endif %}<br><br><br><br><br><br><br><br>

{% endblock %}