<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>PathFinder</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">PathFinder</h1>
          {% load socialaccount %}
          {% if user.is_authenticated %}
          <p>Welcome, {{ user.username }} !</p>
          <a href="/accounts/logout">Logout</a>

          {% else %}
          <a href="{% provider_login_url 'google' %}">Login with Google</a>
          {% endif %}
          <hr class="mt-0 mb-4">
          <div class="pb-2 mt-4 mb-2 border-bottom text_center">
            <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">
        
            <!-- Grid row -->
            <div class="row">
        
              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">
        
                <!-- Content -->
                <p><b>Navigation</b></p>
        
              </div>
              <!-- Grid column -->
        
              <hr class="clearfix w-100 d-md-none pb-3">
        
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
        
                <ul class="list-unstyled">
                  <li>
                    <a href="/meetup_finder">Home</a>
                    
                    
                  </li>
                </ul>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
        
                <ul class="list-unstyled">
                  <li>
                    <a href="/meetup_finder/registration/">Create Event</a>
                  </li>
                </ul>
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          <!-- Footer Links -->
        
        </div>
          {% block content %}
          {% endblock %}



        </form><br><br><br><br><br><br><br><br>
        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">
        
          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">
        
            <!-- Grid row -->
            <div class="row">
        
              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">
        
                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Header and Footer code based off of mdbootstrap.com</p>
        
              </div>
              <!-- Grid column -->
        
              <hr class="clearfix w-100 d-md-none pb-3">
        
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a href="/meetup_finder/comments/">Create Event</a>
                  </li>
                </ul>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a href="/meetup_finder/comments/list/">Find Event</a>
                  </li>
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          <!-- Footer Links -->
        
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            Calvin Kuo, Jun Song Park, Ethan Chen, Xinyuan Zhu
          </div>
          <!-- Copyright -->
        
        </footer>
        <!-- Footer -->
        </div>
      </div>
    </div>
  </body>
</html>