<!doctype html>
<html lang="en">
  <head>
    <title>PathFinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      /* Set black background color, white text and some padding */
      footer {
        background-color: #555;
        color: white;
        padding: 15px;
      }

      #div_id_address #id_address {
        width: 100%;
      }

      #div_id_address .map_canvas_wrapper {
        margin-left: 0;
        margin-top: 15px;
      }

      iframe.map {
        display: block;
        margin: auto;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand">PathFinder</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'meetup_finder:index' %}">Home</a></li>
            {% load socialaccount %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'meetup_finder:events' %}">Create Event</a></li>
            <p style="color:white">Welcome, {{ user.profile.full_name|default:user.username}} </p>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'meetup_finder:profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>


        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">
        
          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">
        
            <!-- Grid row -->
            <div class="row">
        
              <!-- Grid column -->
              <div class="col-sm-6 col-xs-12">

                <!-- Content -->
                <h5 class="text-uppercase">About Us</h5>
                <p>Web Page to create events and respond to events</p>

              </div>
        
              <!-- Grid column -->
              <div class="col-sm-6 col-xs-12">
        
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a href="/meetup_finder/">Find Event</a>
                  </li>
				  {% if user.is_authenticated %}
                  <li>
                    <a href="/meetup_finder/registration/">Create Event</a>
                  </li>
				  {% endif %}
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          <!-- Footer Links -->
        
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            Calvin Kuo, Jun Song Park, Ethan Chen, Xinyuan Zhu
          </div>
          <!-- Copyright -->
        
        </footer>
        <!-- Footer -->
        </div>
      </div>
    </div>
  </body>
</html>